@{
    ViewData["Title"] = "Home Page";
}

<div class="Fundo">
    <div class="container">
        <div class="text-center Texto-center">
            <h1 class="display-4">SEJA BEM VINDO <br><br>AO <br /> <br />TOP DA LESTE</h1>
        </div>
    </div>
</div>

<main>
    <div class="Container">
        <h2 class="text-center">Produtos da Loja</h2>
        <h3 class="text-center Margin">Infantil</h3>
        <div class="Roupas">
            <div class="Item border">
                <img src="~/Imagens/Infantil/Item_1.jpg" />
                <div>
                    <label class="text-center">
                        Kit Camiseta Infantil All Free Manga Longa <br />Masculina 3 Peças<br /><b>R$ 49,90</b>
                    </label>

                </div>
            </div>
            <div class="Item border">
                <img src="~/Imagens/Infantil/Item_2.jpg" />
                <div>
                    <label class="text-center">
                        Conjunto Infantil Moletom Mia Kids Estampado<br /> Longo Masculino<br /><b>R$ 47,90</b>
                    </label>

                </div>

            </div>
            <div class="Item border">
                <img src="~/Imagens/Infantil/Item_3.jpg" />
                <div>
                    <label class="text-center">
                        Conjunto Infantil Moletom Mia Kids Dinossauro <br />Longo ...<br /><b>R$ 49,90</b>
                    </label>

                </div>
            </div>
        </div>
        <div class="Roupas">
            <div class="Item border">
                <img src="~/Imagens/Infantil/Item_4.jpg" />
                <div>
                    <label class="text-center">
                        Conjunto Blusa Cotton e Legging Favinho Mia <br />Kids-44254<br /><b>R$ 48,90</b>
                    </label>

                </div>
            </div>
            <div class="Item border">
                <img src="~/Imagens/Infantil/Item_5.jpg" />
                <div>
                    <label class="text-center">
                        Kit Calça Moletom Bebê Kyly Peluciado Sem <br />Punho Masculina 3 ..<br /><b>R$ 52,90</b>
                    </label>

                </div>

            </div>
            <div class="Item border">
                <img src="~/Imagens/Infantil/Item_6.jpg" />
                <div>
                    <label class="text-center">
                        Conjunto Infantil Mia Kids Tokyo Masculino<br /><br /><b>R$ 65,90</b>
                    </label>

                </div>
            </div>
        </div>



        <h3 class="text-center Margin">Juvenil</h3>
        <div class="Roupas">
            <div class="Item border">
                <img src="~/Imagens/Juvenil/Item_1.jpg" />
                <div>
                    <label class="text-center">
                        Vestido Juvenil Hering Animal Print<br /><br /><b>R$ 55,90</b>
                    </label>

                </div>
            </div>
            <div class="Item border">
                <img src="~/Imagens/Juvenil/Item_2.jpg" />
                <div>
                    <label class="text-center">
                        Vestido Juvenil Rovitex Curto Ribana Canelado<br /><br /><b>R$ 47,90</b>
                    </label>

                </div>

            </div>
            <div class="Item border">
                <img src="~/Imagens/Juvenil/Item_3.jpg" />
                <div>
                    <label class="text-center">
                        Camiseta Juvenil Ecko Logo K672A Masculina<br /><br /><b>R$ 46,90</b>
                    </label>

                </div>
            </div>
        </div>
        <div class="Roupas">
            <div class="Item border">
                <img src="~/Imagens/Juvenil/Item_4.jpg" />
                <div>
                    <label class="text-center">
                        Vestido Juvenil Hering Heart<br /><br /><b>R$ 44,90</b>
                    </label>

                </div>
            </div>
            <div class="Item border">
                <img src="~/Imagens/Juvenil/Item_5.jpg" />
                <div>
                    <label class="text-center">
                        Vestido Juvenil Hering Heart<br /><br /><b>R$ 49,90</b>
                    </label>

                </div>

            </div>
            <div class="Item border">
                <img src="~/Imagens/Juvenil/Item_6.jpg" />
                <div>
                    <label class="text-center">
                        Vestido Juvenil Pulla Bulla Canelado Paetê <br />Reversível Dreams<br /><b>R$ 39,90</b>
                    </label>

                </div>
            </div>
        </div>


        
        <h3 class="text-center Margin">Adulto</h3>
        <div class="Roupas">
            <div class="Item border">
                <img src="~/Imagens/Adulto/Item_1.jpg" />
                <div>
                    <label class="text-center">
                        Robe Feminino Adulto Luna Cuore<br /><br /><b>R$ 85,90</b>
                    </label>

                </div>
            </div>
            <div class="Item border">
                <img src="~/Imagens/Adulto/Item_2.jpg" />
                <div>
                    <label class="text-center">
                        Vestido Look Jeans Adulto c/ Cinto Jeans Feminino<br /><br /><b>R$ 68,90</b>
                    </label>

                </div>

            </div>
            <div class="Item border">
                <img src="~/Imagens/Adulto/Item_3.jpg" />
                <div>
                    <label class="text-center">
                        Robe Feminino Adulto Luna Cuore<br /><br /><b>R$ 79,90</b>
                    </label>

                </div>
            </div>
        </div>
        <div class="Roupas">
            <div class="Item border">
                <img src="~/Imagens/Adulto/Item_4.jpg" />
                <div>
                    <label class="text-center">
                        Vestido Look Jeans Adulto Curto Floral Feminino<br /><br /><b>R$ 65,90</b>
                    </label>

                </div>
            </div>
            <div class="Item border">
                <img src="~/Imagens/Adulto/Item_5.jpg" />
                <div>
                    <label class="text-center">
                        Kit com 10 Cuecas Boxer Morone em Microfibra <br />Estampada ...<br /><b>R$ 59,90</b>
                    </label>

                </div>

            </div>
            <div class="Item border">
                <img src="~/Imagens/Adulto/Item_6.jpg" />
                <div>
                    <label class="text-center">
                        Short Doll Verão Regata Adulto Luna Cuore 1303 <br />Feminino<br /><b>R$ 78,90</b>
                    </label>

                </div>
            </div>
        </div>
    </div>

</main>
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
